/* basic*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: linear-gradient(135deg, #f3e8ff, #e2ccff, #d8b4fe);
    line-height: 1.6;
}

/* nav */

nav {
    width: 100%;
    background: #3d0066;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav .logo {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #f4eaff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #d8b4fe;
}

/* home */

header.hero {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}


header.hero h1 {
    font-size: 55px;
    font-weight: 800;
    color: #3d0066;
}

header.hero p {
    font-size: 22px;
    font-weight: 500;
    color: #4a007f;
    max-width: 700px;
}

/* header */

.page-header {
    text-align: center;
    padding: 60px 20px;
}

.page-header h1 {
    font-size: 40px;
    color: #3d0066;
}

.page-header p {
    font-size: 18px;
    margin-top: 8px;
    color: #5a0085;
}

/* content */

section {
    width: 85%;
    margin: 40px auto;
    font-size: 18px;
}

/* images */

.walk-img {
    width: 100%;
    border-radius: 12px;
    margin: 25px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* sdg */

.sdg-section h2 {
    color: #3d0066;
    margin-top: 30px;
    font-size: 28px;
}

/* team */

.team-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.team-card {
    background: #f3e8ff;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.team-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.team-card h3 {
    color: #3d0066;
}

/*gallery*/

.gallery-section {
    width: 90%;
    margin: 40px auto;
}

.gallery-section h2 {
    text-align: center;
    font-size: 30px;
    color: #3d0066;
    margin-bottom: 20px;
}

.gallery-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.gallery-item {
    width: 45%;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.03);
}

.caption {
    margin-top: 10px;
    font-size: 18px;
    color: #4a007f;
}

/*footer*/

footer {
    background: #3d0066;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 16px;
}
